
<script defer src="{{ site.js_host }}/js/tradleplayer.js"></script>

<noscript>
    <div class="showTextInfo">
        <p>
            WARNING: Your browser doesn't support <strong>javascript</strong> or you've turned it off in the browser <strong>Settings</strong>. This site won't work for you as it uses <strong>javascript</strong> extensively.
        </p>
        <p>
            You can turn on <strong>javascript</strong> and/or switch to a different browser. We know that this site works well with <a href="https://www.google.com/chrome/">Google Chrome</a>
        </p>
    </div>
</noscript>
