<nav class="navbar">
  <nav class="row">
    <div id="nav">
   
    <a href="javascript:history.go(-1)" class="goback" aria-labelledby="backtitle">
        <svg  xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" width="30" role="img">
            <title id="backtitle">back</title>
            <circle fill="rgb(170,68,17)" cx="16" cy="16" r="15.75"/>
            <polygon fill="rgb(255,255,204)" points="20,26 8,16 20,6"/>
        </svg>
    </a>
     
    <ul class="columns medium-11 left primary-nav">
        <li id="toggleMenu"><a href="#nav">Menu</a></li>
	    <li id="hideMenu"><a href="#toggleMenu">Menu</a></li>

	{% for nav in site.data.nav %}
	  {% if nav.subcategories != null %}
	    <li class="dropdown">
	      <a href="{{ site.http_host }}{{ nav.url }}">{{ nav.title }}</a>
		<ul>
		  {% for subcategory in nav.subcategories %}
		    <li><a href="{{ site.http_host }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
		  {% endfor %}
		</ul>
	    </li>
	{% elsif nav.external-subcategories != null %}
	    <li class="dropdown">
	      <a href="{{ site.url }}{{ nav.url }}">{{ nav.title }}</a>
		<ul>
		  {% for subcategory in nav.external-subcategories %}
		    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
		  {% endfor %}
		</ul>
	    </li>
		{% elsif nav.title == page.title %}
		  <li class="active"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
		{% else %}
		  {% if nav.href %}
		  <li><a href="{{ site.http_host }}{{ nav.href }}">{{ nav.title }}</a></li>
		    {% elsif nav.external %}
		    <li><a href="{{ nav.external }}">{{ nav.title }}</a></li>
		  {% endif %}
	  {% endif %}
	{% endfor %}
      </ul>
    
    <ul class="columns medium-1 right primary-nav">
	{% for socials in site.data.socials %}
        <li class="right"><a href="{{ socials.href }}"><span class="icon-{{ socials.title }} socials"></span> {{ socials.title }}</a></li>
	{% endfor %}
    </ul>

    </div>
  </nav>
</nav>
